*  { /* Avoiding the browsers default settings */
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    padding: 0;
    background: linear-gradient(115deg, #FFFFFF,#1062FA 40%, #985FCF 80%);
    height: 100vh;
}

ul {
    list-style-type: none;
}