*  { /* Avoiding the browsers default settings */
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    display: none;
}

body {
    padding: 0;
    background: linear-gradient(115deg, #FFFFFF,#1062FA 40%, #985FCF 80%);
    height: fit-content;
}

ul {
    list-style-type: none;
}