@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Heebo:wght@300&family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Heebo:wght@300&family=Inter:wght@700&family=Urbanist:wght@200;400&display=swap');

.header {


    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.46);
    z-index: var(--z-fixed);
    top:0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 4cqh;
    border-bottom-right-radius: 4rem;
    z-index: 9;
}

.container {
    flex: 1 1 200px;
}

.nav {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-menu {
    margin-left: 3rem;
    margin-right: 3rem;
}

.nav-list {
    display: flex;
    flex-direction: row;
    row-gap: 2.5rem;
    column-gap: 5rem;
    text-align: center;  
    width: fit-content; 

}

.nav-item {
    display: flex;
    align-items: center;
    text-align: center;
    width: fit-content;
}

.nav-link {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    display: flex;
    white-space: nowrap;
}

.icon {
    width: 60px;
    height: 60px;
    margin: 5%;
    
}

.scale {
    transition: scale 0.2s;
}


.search {
    width: max-content;
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    background-color: rgb(255, 255, 255, 0.7);
    border-style: none;
    border-radius: 1rem;
    height: 40px;
    padding: 2%;
}

#profile {
    width: 76px;
    height: 76px;
}

#hyphenos-text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    width: fit-content;
}


.dropdown {
    display: flex;  
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    max-width: 13em;
    position: relative;
    width: fit-content;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
}

.dropdown-btn {
    background: url("assets/account.svg");
    width: 76px;
    height: 76px;
    border-style: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown-content {
    list-style: none;
    position: absolute;
    top: 3.2em;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 2.5rem;
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-1em);
    transition: visibility 0s, max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.dropdown-content li {
    display: flex;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    height: 3rem;
    width: 7rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 0s;
    margin-top: 5%;
    transition-delay: calc(60ms * var(--delay));
}

.dropdown-content li a {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 19px;
    color: white;
    text-align: center;
    text-decoration: none;
}   

.dropdown-btn:focus + .dropdown-content li {
}

.dropdown-btn:focus + .dropdown-content {
  visibility: visible;
  max-height: 300px;
  opacity: 1;
  animation: dropdown-animation 0.3s ease-in-out;
}

.scale:hover {
    scale: 1.2;
}
