@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Heebo:wght@300&family=Inter:wght@700&display=swap');

.header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
    z-index: var(--z-fixed);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.nav-menu {
    margin-left: 3rem;
}

.nav {
    height: 4rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    row-gap: 2.5rem;
    column-gap: 3rem;
    text-align: center;   
}

#hyphenos-text {
    font-family: 'Inter', sans-serif;
}