.big {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 96px;
}

.semi-big {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.semi-medium {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.small {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 19px;
}

.main-wrapper {
    margin-top: 5rem;
}


.text {
    width: fit-content;
}

.button-wrapper {
    display: flex;
}

.button-wrapper button {
    width: fit-content;
    padding-left: 7%;
    padding-right: 7%;
    margin:0.5rem;  
    padding-top:3%;
    padding-bottom:3%;
    border-style: none;
    border-radius: 6px;
    color: white;
    background-color: #0069FF;
}

.left-content {
    float: left;
}

.right-content {
    display: flex;
    align-items: right;
    justify-content: right;
    float: right;
    height:auto;
}



.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    width: 100%;
}   

button:active {
    transform: translateY(0.2rem);
}

.devices {

}
.phones {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    margin: 0;
    scroll-margin-block: 2em;
}

.phone {
    max-width: 17.5%;
    display: flex;
    align-items: center;
}

.phone:hover {
    transform: translateY();
}


.center {
    display: flex;
    width: 100%;
    align-items: center;
    
    text-align: center;
}


.phone-down {
    transform: translateY(81px);
}